footer {
  color: white;
  text-align: center;
  padding: 10px;
  background-color: black;
  margin-top: 20px;
}

.carousel-item img {
  max-width: 100%;
  max-height: 100vh;
  object-fit: cover;
  border: 2px solid #000;
}

.carousel-caption {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 5px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
}

.alert {
  margin: 20px;
  text-align: center;
}
