.image-item img {
  width: 150px; /* Leveys */
  height: 150px; /* Korkeus */
  border: black 2px solid; /* Musta kehys */
  object-fit: cover; /* Kuvan skaalaus täyttämään laatikko */
  border-radius: 50%;  /* Pyöreät reunat */
  display: block;  /* Estää inline-tilan */
  margin: 0 auto 10px auto; /* Keskittää kuvan ja lisää tilaa alapuolelle */
}

.image-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  padding: 20px;
  background-color: #f0f0f0;
}

.container {
  display: flex;
  justify-content: space-between; /* Jakaa tilan tasaisesti */
  align-items: center; /* Keskitys pystysuunnassa */
  margin: 0 auto; /* Keskitys vaakasuunnassa */
  padding: 20px; /* Sisennys */
  max-width: 1200px; /* Maksimileveys */
}

.left-content {
  padding-right: 20px; /* Tekstin ja kuvan väliin tilaa */
}


.right-content img{
  max-width: 100%; height: auto; /* Jotta kuva toimii paremmin pienemmilläkin näytöillä */
  border: black 5px solid; /* Musta kehys kuvalle */
  border-radius: 15px 50px; /* Sai vähän muotoa kuvaan */
}

.image-container h2 {
  text-align: center;
  text-decoration: overline underline; /* Yliviivaus ja alivivaus */
  color: rgba(0, 0, 0, 0.849);
  text-underline-offset: 0.5em; /* Piti laittaa että teksti on paremmin viivojen keskellä */
}

.fun-fact {
  text-align: center; /* Keskitys */
  background-color: #bedbf5; /* Vaaleansininen tausta */
  border: 2px solid #75d2f1; /* Sininen reunus */
  border-left: 15px solid #333; /* Paksumpi vasen reunus */
  border-right: 15px solid #333; /* Paksumpi oikea reunus */
  padding: 15px;
  margin: 20px 0; /* Ylä- ja alareunaan tilaa */
  font-style: italic; /* Kallistettu fontti */
}